.App-header {
    background-color: #282c34;
    min-height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1vh 2vh;
  }
  
.App-header img{
    flex: 1;
}

.App-header p{
    flex: 4;
    text-align: left;
    padding: 0 0 0 1vw;
}

.App-header button{
    flex: 1;
    color: white;
    text-decoration: auto;
    padding: 1em 0;
    border-radius: 5px;
    background-color: #282c34;
    border-width: 0;
    font-size: 1em;
}

.App-header a:hover{
    background-color: rgb(57, 57, 78);
}