.bodySkill{
    background-color: #d7d7d7;
}

.bodySkill h3{
    margin: 0;
    padding: 25px;
    font-size: 1.5em;
}

.programmingSkill, .frameworkSkill, .softwareSkill{
    display: grid;
    grid-template: repeat(3, minmax(110px, 1fr))/ repeat(auto-fill, minmax(125px, 1fr));
    gap: 80px;
    padding: 25px 250px;
}

.tabSkill{
    text-align: center;
}

.tabSkill img{
    height: 100px;
    width: 75px;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    background-color: #545a66;
    border-radius: 5px;
    color: white;
}